opencv-python
psutil

# API
fastapi
uvicorn
python-multipart
python-dotenv

# Machine learning
numpy
Pillow
PyYAML
scipy
torchvision
Cython
requests
tqdm
opencv-python
pandas
seaborn
matplotlib
gitpython
setuptools